@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    font-family: "Ivypresto Display", sans-serif;
    --background: #eee8e0;
    --foreground: #000000;
  }
}

@font-face {
  font-family: 'Real IvyPresto'; /* Choose a name for your font */
  src: url('/fonts/IvyprestoDisplay-Regular.otf') format('opentype'); /* Path to the .otf font file */
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Real IvyPresto", sans-serif;
}

header{
  font-family: "Real IvyPresto", sans-serif;
}


.montserrat-Mfont {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}






.contact-us-button:hover {
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes spawnLine {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes line-anim {
  from {
    width: 0%;
  }
  to {
    width: 52%;
  }
}

/* triangle class */
.triangle {
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 80px solid #a87900;
  transform: rotate(90deg);
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* TESTING BUTTON */
.button {
  outline: none;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  border-color: #a87900;
  box-shadow: 0 0 10px #a87900;
  transform: translateY(-2px);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px #a87900;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 20px #a87900;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px #a87900;
  }
}


